* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    /* , , #642c34, , #a7b9d3, #4c3434 */
    --color-Primary: #642c34;
    --color-Secondary: #b45c64;
    --color-Primary-opacity: #cc322a;
    --color-Secondary-opacity:  #ff0707;
}

.snorlax {
    --color-Primary: #29738e;
    --color-Secondary: #7f6f62;
    --color-Primary-opacity: #5f96aa;
    --color-Secondary-opacity: #cec1b8;
}

/* @media(prefers-color-scheme: dark) {
    :root {
      
    }
} */

body .normal{
    background: var(--color-Secondary-opacity);
    background: radial-gradient(circle, var(--color-Secondary-opacity) 72%, var(--color-Primary-opacity) 78%, var(--color-Primary) 100%);
    height: 100vh;
}

body {
    background: var(--color-Secondary-opacity);
    background: radial-gradient(circle, var(--color-Secondary-opacity) 72%, var(--color-Primary-opacity) 78%, var(--color-Primary) 100%);
    height: 100vh;
}